.container-fouteur{

    background: #0d3b66;
    color: white;
    font-size: larger;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

@media (max-width: 768px) {
    .container-fouteur {
      flex-direction: column;     /* 🔥 en colonne */
      justify-content: center;    /* centre verticalement */
     /* gap: 5px;    */              /* espace entre les éléments */
      height: auto;               /* 🔑 évite le scroll */
      padding: 5px 0;
      text-align: center;
    }
  }